.about {
    margin-top: 42px;

    &__wrap {
        margin-inline: auto;
        max-width: 1732px;
    }

    &__img {
        width: 100%;
    }

    &__wrapper {
        margin: 63px auto 0 auto;
        max-width: 968px;
    }

    &__title {
        font-family: Ralaway, sans-serif;
        font-weight: 700;
        font-size: 29px;
        line-height: 51px;
    }

    &__text {
        margin-top: 28px;
        font-family: Ralaway, sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
    }
}

@media (max-width:992px) {
    .about {
        margin-top: 0;

        &__title {
            font-size: 27px;
        }

        &__text {
            font-size: 22px;
            line-height: 36px;
        }
    }
}

@media (max-width:768px) {
    .about {

        &__wrapper {
            margin-top: 33px;
        }

        &__title {
            font-size: 24px;
        }

        &__text {
            font-size: 21px;
            line-height: 32px;
        }
    }
}

@media (max-width:576px) {
    .about {

        &__title {
            font-size: 19px;
        }

        &__text {
            font-size: 19px;
            line-height: 29px;
        }
    }
}

