.about {
    margin-top: 42px;

    &__pic {
        width: 100%;
        height: 100%;
    }

    &__wrap {
        margin: 63px auto 0 auto;
        width: 968px;
    }

    &__title {
        font-family: Ralaway, sans-serif;
        font-weight: 700;
        font-size: 29px;
        line-height: 51px;
    }

    &__text {
        margin-top: 28px;
        font-family: Ralaway, sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
    }
}

