.staff {
    margin: 144px auto 0 auto;
    width: 1286px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 92px;
    column-gap: 120px;

    &__img {
        width: 656px;
        height: 830px;
    }

    &__name {
        font-family: Raleway, sans-serif;
        font-size: 29px;
        font-weight: 700;
        line-height: 51px;
        margin: 110px auto 28px auto;
    }

    &__text {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;  
        max-width: 70%;
    }

    &__group {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__wrap {
        margin-left: 50px;
    }
}