/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: Raleway;
  font-weight: 700;
  src: url(/public/fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway;
  font-weight: 600;
  src: url(/public/fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url(/public/fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: Raleway;
  font-weight: 400;
  src: url(/public/fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url(/public/fonts/Inter-Bold.ttf);
}
.header {
  max-width: 1550px;
  margin: 40px auto 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__img {
  width: 445px;
  height: 78px;
}
.header__agency {
  font-size: 13px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  line-height: 16px;
  color: #B9B9B9;
  border-left: 2px solid #B9B9B9;
  padding-left: 6px;
}
.header__nav {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link {
  text-decoration: none;
}
.header__contact {
  position: relative;
}
.header__contact::before {
  content: "";
  display: block;
  position: absolute;
  width: 102px;
  height: 23px;
  background-color: #DEDEDE;
  transform: rotate(-14.9deg);
  z-index: -1;
  right: 28px;
}
.header__contact::after {
  content: "";
  display: block;
  position: absolute;
  width: 102px;
  height: 23px;
  background-color: #DEDEDE;
  transform: rotate(-14.9deg);
  z-index: -1;
  top: 10px;
  left: 30px;
}

.tagline {
  width: 100%;
  max-width: 1169px;
  margin: 90px auto 0 auto;
}
.tagline__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagline__text {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 37px;
  line-height: 51px;
}
.tagline__letter-img {
  width: 436px;
  height: 436px;
}

.jobs {
  max-width: 1440px;
  margin: 170px auto 0 auto;
}
.jobs-list {
  display: flex;
  justify-content: space-between;
}
.jobs-list__item {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}
.jobs-list__item::after {
  content: "";
  border-left: 2px solid black;
  height: 24px;
  margin-left: 55px;
}
.jobs-list__item:last-child::after {
  display: none;
}

.projects {
  margin-top: 86px;
}
.projects-list {
  max-width: 1819px;
  margin: -1px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 22px;
  justify-items: center;
}
.projects-list__item-img {
  width: 100%;
}
.projects-list__item {
  z-index: 9;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.projects-list__item:nth-child(1) .projects-list__item-text {
  background-color: #0066ff;
}
.projects-list__item:nth-child(2) .projects-list__item-text {
  background-color: #fe0505;
}
.projects-list__item:nth-child(3) .projects-list__item-text {
  background-color: #ff4d00;
}
.projects-list__item:nth-child(4) .projects-list__item-text {
  background-color: #55e3ff;
}
.projects-list__item:nth-child(5) .projects-list__item-text {
  background-color: #ffa2b8;
}
.projects-list__item:nth-child(6) .projects-list__item-text {
  background-color: #ff61e6;
}
.projects-list__item:nth-child(7) .projects-list__item-text {
  background-color: #beadff;
}
.projects-list__item:nth-child(8) .projects-list__item-text {
  background-color: #9f53ff;
}
.projects-list__item:hover .projects-list__item-text {
  opacity: 1;
}
.projects-list__item-text {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  width: 100%;
  max-width: 814px;
  margin: 0 auto;
  margin-top: 90px;
}
.services__text {
  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}
.services__text:first-child {
  margin-bottom: 66px;
}
.services__btn {
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 66px;
  padding: 25px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.team {
  margin-top: 120px;
}
.team-list {
  background: center/90% 120% no-repeat url(/public/img/main/lines.png);
  width: 100%;
  max-width: 1460px;
  margin: 77px auto 98px auto;
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.team-list__item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.team-list__item-text {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 37px;
  position: absolute;
  color: white;
  top: -19px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
}
.team-list__item-text span {
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
}
.team-list__item-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 161.88px;
  height: 37.91px;
  background-color: black;
  transform: rotate(-1.21deg);
  top: 37px;
  left: -20px;
  z-index: -1;
}
.team-list__item-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 308.14px;
  height: 37.91px;
  background-color: black;
  transform: rotate(2.52deg) translateX(-50%);
  top: 7px;
  left: 50%;
  z-index: -1;
}
.teamlist__item-img {
  position: relative;
  z-index: 1;
}
.team-list__item:hover .team-list__item-text {
  opacity: 1;
}

.contact__wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 746px;
}
.contact__text {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  text-align: center;
  margin: 77px auto 109px auto;
}

.form {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.form__input {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 28px;
  padding: 14px 0 14px 29px;
  background-color: #f3f3f3;
  border: 0;
  outline: none;
}
.form__input:nth-child(3) {
  grid-column: 1/3;
}
.form__textarea {
  grid-column: 1/3;
  height: 172px;
  text-align: start;
  resize: none;
}
.form__btn {
  color: white;
  background-color: black;
  width: 100%;
  padding: 25px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: -12px auto 123px auto;
}

.section-title {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  position: relative;
  z-index: 10;
}
.section-title__line {
  display: flex;
  flex-wrap: nowrap;
  margin-inline: -100px;
  justify-content: center;
  overflow-x: hidden;
  padding: 16px 0;
}
.section-title__line-text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 37px;
  line-height: 51px;
  white-space: nowrap;
  margin-right: 30px;
}
.section-title__line-text:last-child {
  margin-right: 0;
}

.footer {
  background-color: black;
  color: white;
  padding-bottom: 210px;
}
.footer__container {
  margin: 0 auto;
  padding-top: 77px;
  max-width: 1243px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}
.footer__text:first-child {
  margin-bottom: 20px;
}
.footer__logo {
  margin-right: 34px;
}
.footer__logo-wrap {
  display: flex;
  align-items: center;
}
