.accordion {
    &__item {
        margin-top: -5px;
        cursor: pointer;
    }

    &__item_active {
        .accordion__symbol-line:first-child {
            transform: rotate(90deg);
            opacity: 0;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -5px;
        padding-left: 32px;
        padding-right: 21px;
        border: 5px solid black;

        &:first-child {
            margin-top: 0;
        }
    }

    &__symbol {
        width: 30px;
        height: 30px;
    }

    &__symbol-line {
        stroke: #000000;
        stroke-width: 4px;
        transition: all 0.35s;
        transform-origin: 50% 50%;
    }

    &__title {
        font-family: Raleway, sans-serif;
        font-size: 29px;
        font-weight: 700;
        line-height: 51px;
    }

    &__content {
        display: none;
        background-color: #F3F3F3;
        padding: 32px 0 50px 68px;
        color: #505050;
    }

    &__content-title {
        font-family: Raleway, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 49px;
    }

    &__list {
        list-style-type: disc;
        margin-left: 22px;
    }

    &__list-item {
        font-family: Raleway, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
    }
}

@media (max-width:1200px) {
    .accordion {

        &__title {
            font-size: 24px;
        }

        &__content-title {
            font-size: 19px;
        }

        &__list-item {
            font-size: 19px;
        }
    }
}

@media (max-width:1200px) {
    .accordion {

        &__title {
            font-size: 19px;
            line-height: 25px;
            padding-block: 20px;
            max-width: 270px;
        }
    }
}

@media (max-width:567px) {
    .accordion {

        &__header {
            border-inline: none;
            width: 100%;
            margin-inline: -28px
        }

        &__content {
            width: 100%;
            margin-inline: -43px;
        }
    }
}