.container {
    max-width: 1720px;
    margin-inline: auto;
    padding-inline: 25px;
}

@media(max-width: 1800px) {
    .container {
        max-width: 1380px;
    }
}

@media (max-width: 1440px){
    .container {
        max-width: 1140px;
    }
}

@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px){
    .container {
        padding-inline: 15px;
    }
}
