.header {
    max-width: 1550px;
    margin-inline: auto;

    &__nav-link_underline::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: black;
        display: block;
        margin-top: 5px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 445px;
        height: 78px;
    }

    &__agency {
        font-size: 13px;
        font-family: Raleway, sans-serif;
        font-weight: 600;
        line-height: 16px;
        color: #b9b9b9;
        border-left: 2px solid #b9b9b9;
        padding-left: 6px;
        max-width: 93px;
    }

    &__nav {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding-top: 10px;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
    }

    &__nav-item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__nav-link {
        text-decoration: none;
    }

    &__contact {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 102px;
            height: 23px;
            background-color: #dedede;
            transform: rotate(-14.9deg);
            z-index: -1;
            right: 28px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 102px;
            height: 23px;
            background-color: #dedede;
            transform: rotate(-14.9deg);
            z-index: -1;
            top: 10px;
            left: 30px;
        }
    }

    &__nav-menu {
        display: none;
    }

    &__nav-menu::before {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 5px;
        top: 0;
        transition: all 0.3s ease 0s;
    }

    &__nav-menu::after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        transition: all 0.3s ease 0s;
    }

    &__nav-icon {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 5px;
        top: 15px;
        transition: all 0.3s ease 0s;
    }
}

@media (max-width: 1600px) {
    .header {
        margin-inline: 40px;
    }
}

@media (max-width: 1440px) {
    .header {
        margin-inline: 40px;

        &__img {
            width: 389px;
            height: 70px;
        }
    }

}

@media (max-width: 1320px) {
    .header {
        &__nav {
            font-size: 22px;
        }

        &__img {
            width: 345px;
            height: 62px;
        }
    }
}

@media (max-width: 1200px) {
    .header {

        &__logo {
            position: relative;
            display: block;
            margin-left: 29px;
            z-index: 47;
        }

        &__agency {
            font-size: 15px;
            border: none;
            white-space: nowrap;
            padding: 0;
        }

        &__nav {
            font-size: 20px;
        }

        &__img {
            width: 220px;
            height: 39px;
        }

        &__contact::after {
            top: 5px;
            left: 20px;
        }

        &__contact::before {
            top: -1px;
            right: 12px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        margin-inline: 0;

        &__contact::after {
            width: 87px;
            height: 19px;
            top: 4px;
            left: 16px;
        }

        &__contact::before {
            width: 87px;
            height: 19px;
            top: -1px;
            right: 5px;
        }

        &__agency {
            font-size: 12px;
        }

        &__img {
            width: 194px;
            height: 34px;
        }

        &__nav {
            font-size: 15px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        position: relative;
        border-bottom: 2px solid #D7D7D7;


        &__nav-link_underline::after {
            display: none;
        }

        &__inner {
            align-items: center;
            padding-block: 15px;
            margin-right: 30px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 46;
        }

        &__img {
            width: 194px;
            height: 34px;
        }

        &__nav-menu {
            display: block;
            position: relative;
            width: 56px;
            height: 35px;
            z-index: 47;
        }

        &__nav-menu.active::before {
            transform: rotate(30deg);
            top: 15px;
        }
        &__nav-menu.active::after {
            transform: rotate(-30deg);
            bottom: 15px;
        }
        &__nav-icon.active {
            transform: scale(0);
        }

        &__nav {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 120px 0 0 0;
            transform: translateY(-100%);
            background-color: white;
            text-align: center;
            transition: all 0.3s ease 0s;
            border-top: 5px solid black;
            z-index: 45;
            font-size: 24px;
        }

        &__nav.active {
            transform: translateY(0);
        }

        &__nav-item {
            margin-right: 0;
            margin-bottom: 46px;
            position: relative;
            border-bottom: 5px solid black;
            width: 290px;
            padding-bottom: 25px;

            &:last-child {
                border: none;
            }
        }

        &__nav-list {
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        &__contact::after, &__contact::before {
            display: none;
        }
    }
}

@media (max-width: 450px) {
    .header {

        &__agency {
            font-size: 8px;
        }
    }
}
