.header {
    max-width: 1550px;
    margin: 40px auto 0 auto;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 445px;
        height: 78px;
    }

    &__agency {
        font-size: 13px;
        font-family: Raleway, sans-serif;
        font-weight: 600;
        line-height: 16px;
        color: #B9B9B9;
        border-left: 2px solid #B9B9B9; 
        padding-left: 6px;
    }

    &__nav {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 700;  
        padding-top: 10px; 
    }

    &__nav-list {
        display:flex;
        justify-content: space-between;
    }

    &__nav-item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__nav-link{
        text-decoration: none;    
    }

    &__contact {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 102px;
            height: 23px;
            background-color: #DEDEDE;
            transform: rotate(-14.9deg);
            z-index: -1;
            right: 28px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 102px;
            height: 23px;
            background-color: #DEDEDE;
            transform: rotate(-14.9deg);
            z-index: -1;
            top: 10px;
            left: 30px;
        }
    }
}