header {
    padding-top: 40px;
}

nav {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    .header__link{
        text-decoration: none;
        margin: 0 20px;
    }
}

.header__ul {
    display:flex;
    justify-content: space-between;
}

.header__contact {
    position: relative;
}

.header__contact::before {
    content: '';
    display: block;
    position: absolute;
    width: 102px;
    height: 23px;
    background-color: #DEDEDE;
    transform: rotate(-14.9deg);
    z-index: -1;
    right: 28px;
}

.header__contact::after {
    content: '';
    display: block;
    position: absolute;
    width: 102px;
    height: 23px;
    background-color: #DEDEDE;
    transform: rotate(-14.9deg);
    z-index: -1;
    top: 10px;
    left: 30px;

}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__agency {
    font-size: 13px;
    font-family: Raleway;
    font-weight: 600;
    color: #B9B9B9;
    float:right;
    margin-top: 30px;
    margin-left: 10px;
    border-left: 2px solid #B9B9B9;
    padding-left: 6px;
}