.blog {
    margin: 42px auto 177px auto;

    &__img {
        width: 100%;
        height: 100%;
    }

    &__wrap {
        max-width: 978px;
        margin: 64px auto 0 auto;
    }

    &__header {
        font-family: Raleway, sans-serif;
        font-size: 29px;
        font-weight: 700;
        line-height: 51px;
        margin-bottom: 28px;
    }
    
    &__text {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 40px;
        
        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(4) {
            margin-bottom: 70px;
        }
    }
}