.project {
    margin-top: 42px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        max-width: 100%;
    }

    &__wrap {
        margin-top: 64px;
    }

    &__header {
        font-family: Raleway, sans-serif;
        font-size: 29px;
        font-weight: 700;
        line-height: 51px;  
    }

    &__text {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        max-width: 1034px;
        margin: 65px auto 0 auto;
    }

    &__header+&__text {
        margin-top: 28px;
    }
}


@media (max-width:1200px) {

    .project {

        &__header {
            font-size: 27px;
            line-height: 45px;
        }

        &__text {
            font-size: 22px;
            line-height: 34px;
        }
    }
}

@media (max-width:992px) {

    .project {

        &__header {
            font-size: 24px;
            line-height: 42px;
        }

        &__text {
            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media (max-width:767px) {

    .project {

        &__header {
            font-size: 22px;
            line-height: 39px;
        }

        &__text {
            font-size: 19px;
            line-height: 29px;
        }
    }
}

@media (max-width:576px) {

    .project {

        &__header {
            font-size: 19px;
            line-height: 29px;
        }

        &__text {
            font-size: 19px;
            line-height: 29px;
        }
    }
}