@font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url(/public/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway;
    font-weight: 600;
    src: url(/public/fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Raleway;
    font-weight: 500;
    src: url(/public/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(/public/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    src: url(/public/fonts/Inter-Bold.ttf);
}
