.jobs {
    margin-top: 170px;
    max-width: 1440px;
    margin-inline: auto;

    &-list {
        display: flex;
        justify-content: space-between;
    }

    &-list__item {
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;

        &::after {
            content: '';
            border-right: 2px solid black;
            height: 24px;
            margin-left: 55px;
        }

        &:last-child::after {
            display: none;
        }
    }
}

@media (max-width:1440px) {
    .jobs {
        &-list__item::after {
            margin-left: 35px;
        }
    }

}

@media (max-width:1200px) {
    .jobs {

        &-list__item {
            font-size: 16px;

            &::after {
                margin-left: 27px;
            }
        }
    }
}

@media (max-width:992px) {
    .jobs {
        display: none;
    }
}
