.projects {
    margin-top: 86px;

    &-list {
        max-width: 1819px;
        margin: -1px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 22px;
        justify-items: center;

        &_col3 {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            margin-bottom: 110px;
        }
    }

    &-list__item-img {
        width: 100%;
    }

    &-list__item {
        z-index: 9;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        $hover-colors: #0066ff, #fe0505, #ff4d00, #55e3ff, #ffa2b8, #ff61e6, #beadff, #9f53ff;
        @each $color in $hover-colors {
            $i: index($hover-colors, $color);
            &:nth-child(#{$i}) .projects-list__item-text {
                background-color: $color;
            }
        }
    }

    &-list__item:hover .projects-list__item-text {
        opacity: 1;
    }

    &-list__item-text {
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 27px;
        line-height: 34px;
        opacity: 0;
        transition: opacity 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1200px) {
    .projects-list__item-text {
        font-size: 21px;
        line-height: 30px;
    }
}

@media (max-width:768px) {
    .projects {
        &-list {
            grid-template-columns: repeat(2, 1fr)
        }
    }
}

@media (max-width:450px) {
    .projects {
        .projects-list__item-text {
            font-size: 17px;
            line-height: 27px;
        }
    }
}
