.projects {
    margin-top: 86px;

    &-list {
        max-width: 1819px;
        margin: -1px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 22px;
        justify-items: center;
    }
    
    &-list__item-img {
        width: 100%;
    }

    &-list__item {
        z-index: 9;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        $hover-colors: #0066ff, #fe0505, #ff4d00, #55e3ff, #ffa2b8, #ff61e6, #beadff, #9f53ff;
        @each $color in $hover-colors {
            $i: index($hover-colors, $color);
            &:nth-child(#{$i}) .projects-list__item-text {
                background-color: $color;
            }
        }
    }

    &-list__item:hover .projects-list__item-text {
        opacity: 1;
    }

    &-list__item-text {
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 27px;
        line-height: 34px;
        opacity: 0;
        transition: opacity 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}