.section-title {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    position: relative;
    z-index: 10;
    background-color: white;
    color: black;

    &__line {
        display: flex;
        flex-wrap: nowrap;
        margin-inline: -100px;
        justify-content: center;
        overflow-x: hidden;
        padding: 16px 0;
    }

    &__line-text {
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 37px;
        line-height: 51px;
        white-space: nowrap;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width:1440px) {
    .section-title__line-text {
        font-size: 35px;
    } 
}

@media (max-width:1200px) {
    .section-title__line-text {
        font-size: 33px;
    } 
}

@media (max-width:992px) {
    .section-title__line-text {
        font-size: 31px;
    } 
}

@media (max-width:768px) {
    .section-title__line-text {
        font-size: 29px;
    } 
}