.services {
    width: 100%;
    max-width: 814px;
    margin: 90px auto 0 auto;

    &__text {
        font-family: Raleway, sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;

        &:first-child {
            margin-bottom: 66px;
        }
    }

    &__btn {
        min-width: 100%;
        background-color: black;
        color: white;
        margin-top: 66px;
        padding: 25px 0;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
}

@media (max-width:991px) {
    .services {
        max-width: 718px;
        box-sizing: content-box;
        margin-top: 80px;

        &__text {
            font-size: 22px;
            line-height: 38px;

            &:first-child {
                margin-bottom: 44px;
            }
        }

        &__btn {
            font-size: 22px;
            margin-top: 50px;
        }
    }
}

@media (max-width:768px) {
    .services {
        max-width: 518px;
        margin-top: 70px;

        &__text {
            font-size: 20px;
            line-height: 35px;

            &:first-child {
                margin-bottom: 25px;
            }
        }

        &__btn {
            font-size: 20px;
            margin-top: 47px;
        }
    }
}

//Вот тут к кнопкой траблы
@media (max-width:568px) {
    .services{
        max-width: 360px;
        margin-top: 42px;
        padding-inline: 15px;

        &__text {
            font-size: 19px;
            line-height: 29px;

            &:first-child {
                margin-bottom: 25px;
            }
        }

        &__btn {
            font-size: 19px;
            margin-top: 47px;
            margin-inline: -15px;
        }
    }
}