.team {
    margin-top: 120px;

    &-list {
        background: center / 90% 120% no-repeat url(/public/img/main/lines.png);
        width: 100%;
        max-width: 1460px;
        margin-block: 77px 98px;
        display: grid;
        grid-row-gap: 50px;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    &-list__item {
        position: relative;
        display: flex !important;
        justify-content: center;
        width: 100%;
    }

    &-list__item-text {
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 31px;
        line-height: 37px;
        position: absolute;
        color: white;
        top: -19px;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.3s;

        span {
            font-weight: 500;
            font-size: 26px;
            line-height: 34px;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 162px;
            height: 38px;
            background-color: black;
            transform: rotate(-1.21deg);
            top: 37px;
            left: -20px;
            z-index: -1;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 308px;
            height: 38px;
            background-color: black;
            transform: rotate(2.52deg) translateX(-50%);
            top: 7px;
            left: 50%;
            z-index: -1;
        }
    }

    &-list__item-img {
        width: 215px;
        height: 215px;
    }

    &-list__item:hover .team-list__item-text {
        opacity: 1;
    }
}

@media (max-width:1440px) {
    .team {


        &-list__item-img {
            width: 170px;
            height: 170px;
        }

        &-list__item-text {
            font-size: 26px;
            line-height: 33px;

            span {
                font-size: 21px;
                line-height: 30px;
            }

            &::after {
                width: 226px;
                height: 33px
            }

            &::before {
                width: 156px;
                height: 33px;
                top: 34px;
            }
        }
    }
}

@media (max-width:1200px) {
    .team {
        margin-top: 100px;



        &-list__item-img {
            width: 150px;
            height: 150px;
        }
    }
}

@media (max-width:991px) {
    .team {
        margin-top: 80px;

        &-list__item-img {
            width: 130px;
            height: 130px;
        }

        &-list__item-text {
            font-size: 23px;
            line-height: 30px;

            span {
                font-size: 19px;
                line-height: 27px;
            }

            &::after {
                width: 189px;
                height: 32px;
                left: 47%;
            }

            &::before {
                width: 130px;
                height: 26px;
                top: 33px;
            }
        }
    }
}

@media (max-width:768px) {
    .team {
        margin-top: 60px;

        &__container {
            max-width: none;
            margin: 0;
            padding: 0;
        }

        &-list {
            background: none;
            display: flex;
            overflow-x: scroll;
            margin: 50px auto 70px auto;
        }

        &-list__item {
            flex-direction: column;
            align-items: center;

            &:last-child {
                margin-right: 0;
            }
        }

        &-list__item-img {
            width: 330px;
            height: 330px;
        }

        &-list__item-text {
            margin-top: 70px;
            opacity: 1;
            color: white;
            position: relative;
            font-size: 31px;
            line-height: 37px;

            span {
                font-size: 26px;
                line-height: 34px;
            }

            &::after {
                width: 308px;
                height: 38px;
                left: 50%;
            }

            &::before {
                width: 162px;
                height: 38px;
                top: 37px;
            }
        }
    }
}

@media(max-width: 576px) {
    .team {
        &-list__item-img {
            width: 280px;
            height: 280px;
        }
    }
}
