.service {
    margin-top: 42px;

    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 1728px;
    }

    &__content {
        max-width: 1008px;
        margin: 60px auto 97px auto;
    }

    &__title {
        font-family: Raleway, sans-serif;
        font-size: 29px;
        font-weight: 700;
        line-height: 51px;
        margin-bottom: 8px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__subtitle {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        border: 5px solid black;
        padding: 4px 30px;
        white-space: nowrap;
        display: inline-block;
        margin-right: 28px;
        margin-top: 27px;
    }

    &__text {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        margin-top: 58px;
    }
}

@media (max-width:1200px) {
    .service {

        &__title {
            font-size: 27px;
        }

        &__subtitle {
            font-size: 22px;
            line-height: 37px;
        }

        &__text {
            font-size: 22px;
        }
    }
}

@media (max-width:768px) {
    .service {
        
        &__wrap {
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            font-size: 23px;
        }

        &__subtitle {
            margin-right: 0;
            margin-top: 24px;
        }

        &__text {
            font-size: 19px;
        }

        &__content {
            margin: 33px auto 60px auto;
        }
    }
}

@media (max-width:567px) {
    .service {

        &__title {
            font-size: 19px;
        }

        &__subtitle {
            font-size: 19px;
            line-height: 22px;
            margin-top: 17px;
        }

        &__text {
            line-height: 29px;
        }
    }
}