.service {
    margin-top: 42px;
    
    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 1728px;
    }

    &__content {
        width: 1008px;
        margin: 60px auto 97px auto;
    }

    &__title {
        font-family: Raleway, sans-serif;
        font-size: 29px;
        font-weight: 700;
        line-height: 51px;
        margin-bottom: 8px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__subtitle {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        border: 5px solid black;
        padding: 4px 30px;
        white-space: nowrap;
        display: inline-block;
        margin-right: 28px;
        margin-top: 27px;
    }

    &__text {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        margin-top: 58px;
    }
}

.offers {
    &__img {
        display: block;
        margin: 54px auto 0 auto;
        width: 100%;
        max-width: 1379px;
    }

    &__content {
        width: 1369px;
        margin: 0 auto 92px auto;
        border: 5px solid black;
    }

    &__wrap {
        width: 997px;
        margin: 74px auto 87px auto;
    }

    &__title {
        font-family: Raleway, sans-serif;
        font-size: 29px;
        font-weight: 700;
        line-height: 51px;
    }

    &__item {
        margin-top: -5px;
        padding-left: 32px;
        padding-right: 21px;
        border: 5px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-of-type {
            margin-top: 31px; // Вот эта залупа не работает
        }

        &:last-of-type {
            margin-top: 0;
        }
    }

    &__price {
        font-family: Raleway, sans-serif;
        font-size: 33px;
        font-weight: 700;
        line-height: 51px;
        border: 5px solid black;
        padding: 4px 65px;
        margin-top: 9px;
        display: inline-block;

    }

    &__line {
        border-bottom: 3px solid #B7B7B7;
        border-style: dashed;
        margin: 75px auto 65px auto;
    }

    &__item-content {
        background-color: #F3F3F3;
        padding: 0 0 50px 68px;
        color: #505050;
    }

    &__item-title {
        font-family: Raleway, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 49px;
    }

    &__list{
        list-style-type: disc;
        margin-left: 22px;
    }

    &__list-item {
        font-family: Raleway, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
    }

    &__subtitle {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;

        span {
            font-family: Raleway, sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
        }
    }

    &__text {
        margin-top: 23px;
        font-family: Raleway, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        color: #9E9E9E;

        span {
            font-family: Raleway, sans-serif;
            font-size: 22px;
            font-style: italic;
            font-weight: 400;
            line-height: 32px;
        }
    }

    &__btn {
        color: white;
        background-color: black;
        width: 100%;
        padding: 26px 0;
        margin-top: 68px;
        font-family: Raleway, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    }

    &__content-text {
        font-family: Raleway, sans-serif;
        font-size: 29px;
        font-weight: 700;
        line-height: 40px;
        background-color: #DBFF00;
        text-align: center;
        padding: 15px 0;
    }
}

.products {

    &__content {
        width: 997px;
        margin: 0 auto;
    }

    &__title {
        font-family: Raleway, sans-serif;
        font-size: 29px;
        font-weight: 700;
        line-height: 51px;
        margin: 62px auto 28px auto;

        span {
            font-family: Raleway, sans-serif;
            font-size: 29px;
            font-style: italic;
            font-weight: 500;
            line-height: 51px;
            color: #505050;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        font-family: Raleway;
        font-size: 24px;
        font-weight: 500;
        line-height: 53px;
        
        span {
            font-family: Raleway;
            font-size: 24px;
            font-style: italic;
            font-weight: 300;
            line-height: 53px;
        }
    }

    &__price {
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 53px;

        span {
            font-family: Raleway;
            font-size: 24px;
            font-weight: 500;
            line-height: 53px;
        }
    }

    &__item {
        border: 5px solid black;
        background-color: #F3F3F3;
        display: flex;
        margin-bottom: 58px;
        position: relative;

        &:last-child {
            margin-bottom: 77px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 100%;
            border-left: 5px solid black;
            height: 65px;
        }

        &:last-child::after {
            display: none;
        }

        &:nth-of-type(6)::after {
            display: none;
        }
    }

    &__img {
        width: 195px;
        height: 195px;
    }

    &__item-text {
        margin-top: 55px;
        margin-left: 48px;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;

        span {
            font-family: Raleway;
            font-size: 24px;
            font-style: italic;
            font-weight: 300;
            line-height: 30px;
        }
        
    }
}